{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Reviews
{% endblock %}
{% block content %}
    <div class="p-5 bg-body-tertiary border rounded-3">
        {% if object.user.appuserprofile.file %}
            <img class="img-fluid rounded-start"
                 src="{{ object.user.appuserprofile.file.url }}"
                 alt="">
        {% else %}
            <img class="img-fluid rounded-start" src="{% static 'images/default_profile_picture.png' %}" alt="">
        {% endif %}
        {% if object.service_report %}
            <p> For: {{ object.service_report }}</p>
        {% endif %}
        {% if object.user %}
            <p> From: {{ object.user.appuserprofile.full_name }}</p>
        {% else %}
            <p>Ex tenant</p>
        {% endif %}
        <p> Rating: {{ object.rating }}</p>
        <p> Comment: {{ object.comment }}</p>
        {% if object.user.appuserprofile.company %}
            <p> {{ object.user.appuserprofile.company.name }}</p>
        {% else %}
            <p>Previous Partner</p>
        {% endif %}
        {% if object.user.appuserprofile.company.logo %}
            <img class="img-fluid rounded-start" src="{{ object.user.appuserprofile.company.logo.url }}" alt="">
        {% else %}
            <img class="img-fluid rounded-start" src="{% static 'images/default_company_logo.jpg' %}" alt="">
        {% endif %}
        {% if user_is_authenticated and request.user == object.user %}
            <a class="btn btn-warning" href="{% url 'edit review' object.pk %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'delete review' object.pk %}">Delete</a>
        {% endif %}
    </div>
{% endblock %}