{% extends 'base.html' %}
{% block page_title %}
    Service Reports
{% endblock %}
{% block content %}
    {% if viewer_group.name == "Supervisor" %}
        <a class="btn btn-outline-danger" href="{% url 'auto assign' %}">Auto assign reports</a>
    {% endif %}
    <ul>
        {% for object in object_list %}
            <li>
                {{ object.title }}
                {{ object.submit_date }}
                {{ object.company }}
                {{ object.user }}
                {{ object.report_status }}
                <a class="btn btn-outline-primary" href="{% url 'report details' object.pk %}">See Details</a>

            </li>
        {% endfor %}
    </ul>
{% endblock %}