{% extends 'base.html' %}
{% block page_title %}
    Service Reports
{% endblock %}
{% block content %}
    <p>{{ object.title }}</p>
    <p>{{ object.description }}</p>
    <p>{{ object.user.appuserprofile.first_name }}</p>
    <p>{{ object.company.name }}</p>
    <p>{{ object.report_status }}</p>
    {% if object.report_status == "Pending" %}
        <div>
            <a href="{% url 'edit report' object.pk %}" class="btn btn-warning">Edit Report</a>
            <a href="{% url 'delete report' object.pk %}" class="btn btn-danger">Delete Report</a>
        </div>
    {% else %}
        <a href="{% url 'edit report' object.pk %}" class="btn btn-warning disabled">Edit Report</a>
        <a href="{% url 'delete report' object.pk %}" class="btn btn-danger disabled">Delete Report</a>
    {% endif %}
{% endblock %}