{% extends "base.html" %}
{% load static %}
{% block page_title %}
    Reviews
{% endblock %}
{% block content %}
    <div class="container">
        {% for object in object_list %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if object.user.appuserprofile.profile_picture %}
                            <img src="{{ object.user.appuserprofile.profile_picture.url }}"
                                 class="img-fluid rounded-start"
                                 alt="">
                        {% else %}
                            <img src="{% static '/images/default_profile_picture.png' %}" class="img-fluid rounded-start"
                                 alt="">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.user.appuserprofile.full_name }}</h5>
                            <p class="card-text">{{ object.comment }}</p>
                            <p class="card-text"><small class="text-muted">{{ object.submitted }}</small></p>
                        </div>
                    </div>
                    <div>Rating: {{ object.rating }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}