{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Buildings
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row row-cols-3 row-cols-md-3 g-4">
            {% for building in object_list %}
                <div class="col">
                    <div class="card">
                        {% if building.picture %}
                            <img src="{{ building.picture.url }}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="{% static '/images/default_building_picture.png' %}" class="card-img-top" alt="No picture">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ building.name }}</h5>
                            <p class="card-text">{{ building.city }} </p>
                            <a href="{% url 'building details' building.pk %}">See Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}