{% extends 'base.html' %}
{% block page_title %}
    Password Change
{% endblock %}

{% block section_header %}
    <h1>Password Change</h1>
{% endblock %}

{% block content %}
    <div class="form-main form-main--login">
        <form action="" method="post">
            <div class="form__fields">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="form__foot">
                <button class="btn btn-primary">Submit</button>
                <a href="{% url 'profile details' request.user.pk %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}