{% extends 'base.html' %}
{% load i18n static %}

{% block page_title %}
    Password Reset
{% endblock %}

{% block section_header %}
    <h1>Password Reset</h1>
{% endblock %}

{% block content %}
        <div class=" form-main form-main--login">
            {% if validlink %}

                <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                <form method="post">{% csrf_token %}
                    <div class="form__fields">

                        <input readonly="readonly" autocomplete="username" value="{{ form.user.get_username }}"
                               hidden="hidden">
                        <div class="form-row field-password1">
                            {{ form.new_password1.errors }}
                            <label>{% translate 'New password:' %}</label>
                            {{ form.new_password1 }}
                        </div>
                        <div class="form-row field-password2">
                            {{ form.new_password2.errors }}
                            <label>{% translate 'Confirm password:' %}</label>
                            {{ form.new_password2 }}
                        </div>
                    </div>
                    <div class="form__foot">
                        <button class="btn btn-primary">{% translate 'Change my password' %}</button>
                    </div>
                </form>

            {% else %}

                <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

            {% endif %}
        </div>
{% endblock %}
