{% extends 'base_email.html' %}
{% load i18n %}

{% block title_text %}
    Password Reset Email
{% endblock %}

{% block preheader %}
    Password Reset
{% endblock %}

{% block information %}
    <p>Hello,</p>
    <p>{% blocktranslate %}
        You're receiving this email because you requested a password reset for
        your user account at Maintenance Management.
    {% endblocktranslate %}
    </p>
    <p>{% translate "Please use the link below to set a new password" %}</p>
{% endblock %}

{% block call_to_action %}
    <a href="
            {% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}"
       target="_blank">
        Set your new password!
    </a>
{% endblock %}