<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset</title>
</head>
<body>
<h3>
    You're receiving this email because you requested a password reset for your user account at Maintenance Management.
</h3>
<p>
    Please go to the following page and choose a new password:
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</p>
<h4>Thanks for using our site!</h4>
<h4>The Maintenance Management team</h4>

</body>
</html>