{% load static %}
<footer class="footer  bg-light">
    <div class="container">
        <div class="footer__content">
            <p> Maintenance Management Project for Python Web Framework Exam
                <a href="https://softuni.bg/" target="_blank">SoftUni</a> 2023
            </p>
        </div>
        <div class="footer__actions">
            <a href="https://github.com/Moramarth" target="_blank">
                <img src="{% static 'images/github-mark.svg' %}" alt="">
            </a>
            <a href="https://www.linkedin.com/in/george-y-lazarov/" target="_blank">
                <img src="{% static 'images/linkedin-icon.svg' %}" alt="">
            </a>
        </div>
    </div>
</footer>