.block-review {
    width: 100%;
    display: flex;
}

.block-review .block__image {
    width: 40.0rem;
    position: relative;
}

.block-review .block__content {
    width: calc(100% - 40.0rem - 12.0rem);
    padding: 0 2.0rem;
}

.block-review .block__content-bg {
    min-height: 100%;
}

.block-review .block__content strong {
    font-size: 1.6rem;
    line-height: 1.33;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.block-review .block__logo,
.block-review .block__image,
.block-review .block__content-bg {
    padding: 1.0rem;
    border: 0.1rem solid black;
    border-radius: 1.0rem !important;
    background-color: white;
    overflow: hidden;
}

.block-review .block__logo {
    width: 12.0rem;
    align-self: flex-start;
    margin-bottom: auto;
}
.block-review .block__image img,
.block-review .block__logo img {
    border: 0;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
}

@media (max-width: 1199.98px) {
    .block-review {
        flex-direction: column;
        gap: 2.0rem;
    }

    .block-review .block__image {
        width: 100%;
        max-width: 40.0rem;
        margin-left: auto;
        margin-right: auto;
        height: 0;
        padding-top: 50%;
    }

    .block-review .block__image img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        object-fit: cover;
    }

    .block-review .block__content {
        padding: 0;
        width: 100%;
    }
}
@media (max-width: 991.98px){
    .block-review .block__image {
        max-width: 30.0rem;
    }
}

@media (max-width: 767.98px) {
    .block-review {
        margin: 0;
    }
    .block-review .block__image {
        max-width: 25.0rem;
    }
}
