/*
- Forms
*/

.form-main {
    width: 100%;
}


.form-main input:not([type="radio"]):not([type="checkbox"]):not([type="file"]),
.form-main textarea,
.form-main select {
    width: 100%;
    padding-left: 2.0rem;
    padding-right: 2.0rem;
    height: 4.0rem;
    font-size: 1.6rem;
    line-height: 1.4;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--c-primary);
    background: white;
    color: #333;
    transition: color 0.4s, border 0.4s, background 0.4s;
}

.form-main select {
    cursor: pointer;
}

.form-main input:not([type="radio"]):not([type="checkbox"]):not([type="file"]):focus,
.form-main textarea:focus,
.form-main select:focus {
    border-color: black;
    color: black;

}

.form-main textarea {
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    resize: none;
    height: 30.0rem;
}

.form-main label {
    display: block;
    font-size: 1.6rem;
    line-height: 1.33;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.form-main label > * {
    margin-top: 0.5rem;
}

.form-main label:not(:last-child) {
    margin-bottom: 0.5rem;
}

.form-main button {
    padding: 1.0rem 2.0rem;
    font-size: 1.6rem;
    line-height: 1.0rem;
    height: 4.0rem;
    border-radius: 0.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.form-main .form__foot {
    margin-top: 2.0rem;
}

/*
    - Form -- Login
*/

.form-main--login {
    max-width: 40.0rem;
    padding: 3.0rem;
    box-shadow: 1.0rem 1.0rem rgba(0,0,0,0.5);
    margin: auto;
    border: 0.1rem solid #333;
    border-radius: 1.0rem;
    background-color: #F1F6F9;
}

.form-main--login .form__foot {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-main--login .form__foot a {
    text-decoration: none;
    color: var(--c-primary);
    font-size: 1.4rem;
    line-height: 1.10;
}

.form-main--login .form__foot a:hover {
    text-decoration: underline;
}

.form-main--login .form__foot button {
    margin-right: auto;
}

/*
    - Form -- Filters
*/

.form-main--filters {
    display: flex;
    flex-wrap: wrap;
    margin: -1.0rem;
    width: auto;
}

.form-main--filters .form__col {
    width: calc(100% / 4);
    padding: 1.0rem;
}

.form-main--filters .form__col--selects-primary {
    display: flex;
    flex-wrap: wrap;
    gap: 2.0rem;
}

.form-main--filters .form__col--selects-primary > * {
    width: calc(100% / 2);
}

.form-main--filters .form__foot {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2.0rem;
}

.form-main--filters .form__wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.form-main--filters .form__label {
    width: 100%;
    padding: 1.0rem 1.0rem 0 1.0rem;
    margin-top: 1.0rem;
    border-top: 0.2rem solid black;
}

.form-main--filters .form__wrap .form__col {
    width: calc(100% / 3);
}

@media (max-width: 991.98px) {
    .form-main--filters .form__wrap .form__col {
        width: calc(100% / 2);
    }

    .form-main--filters .form__col {
        width: calc(100% / 3);
    }

    .form-main--filters .form__col--selects-primary > * {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .form-main--filters .form__foot {
        flex-direction: column;
        padding: 2rem 1.2rem;
    }

    .form-main--filters .form__wrap .form__col,
    .form-main--filters .form__col,
    .form-main--filters .form__col--selects-primary > * {
        width: 100%;
    }
}