.nav-pagination {
    display: flex;
    justify-content: center;
    gap: 2.0rem;
    align-items: center;
}

.nav-pagination h4 {
    font-size: 1.6rem;
    line-height: 1.33;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: 1px;
}