.section {
    width: 100%;
    position: relative;
}

.section .section__head {
    text-align: center;
    width: 100%;
    position: relative;
    padding-bottom: 2.0rem;
}

.section .section__head h1 {
    position: relative;
    font-size: 4.0rem;
    text-shadow: 0 0 1.0rem white;
}

.section .section__head h2 {
    font-size: 3.0rem;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 0 1.0rem white;
}

.section .section__head:after {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10.0rem;
    height: 0.4rem;
    background-color: var(--c-primary);
    margin-left: -5.0rem;
}

.section .section__head:not(:last-child) {
    margin-bottom: 4.0rem;
}

.section .section__body-group:not(:last-child) {
    margin-bottom: 3.0rem;
}

.section .section__body-group {
    width: 100%;
    padding: 2.0rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1.0rem;
    border: 0.1rem solid #333;
}

.section .section__body-group-head {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2.0rem;
    margin-bottom: 2.0rem;
}

.section .section__body-group-head > *:first-child {
    margin-right: auto;
}

.section .section__body-group > h4,
.section .section__body-group-head > h4 {
    background-color: black;
    color: white;
    padding: 1.0rem 2.0rem;
    margin-bottom: 2.0rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    border-radius: 0.6rem;
}

.section .section__body-group-head > h4 {
    margin-bottom: 0;
}

.section .section__body-group > .row {
    position: relative;
}

.section .section__body-group > .row > a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
    width: auto;
}

.section .section__body-group > .row > a:hover ~ .col .card--box {
    box-shadow: 0 0 2.0rem black;
}

.section__body > h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-shadow: 0 0 1.0rem white;
}

.section__body > div.error-image {
    width: 700px;
    margin: auto;
}

@media (max-width: 767.98px) {
    .section__body > div.error-image {
    width: auto;
}
}


.info-page > ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 3rem;
}

.info-page > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border: solid 1px black;
    border-radius: 1rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.8rem;
    text-shadow: 0 0 1.0rem rgba(0, 0, 0, 0.4);
}

.info-page > ul > li > div.info-page-img {
    box-shadow: 0 0 1.0rem rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    overflow: hidden;
    transition: box-shadow 0.5s;
}

.info-page > ul > li > div.info-page-img:hover {
    box-shadow: 0 0 3.0rem rgba(0, 0, 0, 0.6);
}

@media (max-width: 991.98px) {
    .info-page > ul > li {
        flex-direction: column;
        align-items: flex-start;
    }
}

