{% extends 'base.html' %}
{% block page_title %}
    Edit Profile
{% endblock %}
{% block content %}
    <div class="form-main form-main--login">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="form__fields">
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="form__foot">
                <button class="btn btn-warning">Edit</button>
                <a href="{% url 'profile details' request.user.pk %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}