{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block page_title %}
    Profile Details
{% endblock %}
{% block content %}
    {% address_display object as address %}
    {% profile_group_info object.user as owner_group %}
    <div>
        {% if object.profile_picture %}
            <img src="{{ object.profile_picture.url }}" alt="Profile Picture" width="300" height="300">
        {% else %}
            <img src="{% static '/images/IMG_3978_2.png' %}" alt="" width="300" height="300">

        {% endif %}
    </div>
    <h5>Personal Information</h5>
    <p>Name: {{ object.full_name }}</p>


    <p>Phone number: {{ object.phone_number }}</p>

    <p>Email: {{ object.user.email }}</p>

    <p>{{ owner_group.name }}</p>
    <a class="btn btn-warning" href="{% url 'edit profile' appuserprofile.pk %}">Edit Profile</a>
    <a class="btn btn-danger" href="{% url 'change password' appuserprofile.pk %}">Change Password</a>

    <div>
        <h5>Company Information</h5>
        {% if object.company.company_logo %}
            <img src="{{ object.company.company_logo.url }}" alt="Company Logo">
        {% else %}
            <img src="{% static '/images/IMG_3978_2.png' %}" alt="" width="300" height="300">
        {% endif %}
        <p>Brand: {{ object.company.name }}</p>
        <p>Business type: {{ object.company.business_field }}</p>
        <p>More info: {{ object.company.additional_information }}</p>
        <a class="btn btn-danger" href="{% url 'edit company' appuserprofile.company.pk %}">Edit Company Info</a>
    </div>
    <div>
        <h5>Current address</h5>
        <p>Location: {{ address.building.city }}, {{ address.building.address }}</p>
        <p>Building name: {{ address.building.name }}</p>
        <p>{% if address.section %}
            {{ address.section }},
        {% endif %}
            floor {{ address.floor }},
            office {{ address.office_number }}
        </p>
    </div>
    <div>
        {% if viewer_group.name == 'Clients' %}
            <a class="btn btn-success" href="{% url 'create report' %}">Create Service Report</a>
        {% endif %}
        <a class="btn btn-success" href="{% url 'show all reports' %}">View Service Reports</a>
    </div>

{% endblock %}