{% extends 'base_email.html' %}
{% load i18n %}

{% block title_text %}
    Register Invitation Email
{% endblock %}

{% block preheader %}
    Register Invitation
{% endblock %}

{% block information %}
    <p>Hello,</p>
    <p>{% blocktranslate %}
        You're receiving this email as a part of your contract with The Maintenance Management Team.
    {% endblocktranslate %}
    </p>
    <p>{% translate "Please use the link below to finish your registration" %}</p>
{% endblock %}

{% block call_to_action %}
    <a href="{{ dynamic_url }}" target="_blank"> Press Here to register</a>
{% endblock %}
