{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Register Information
{% endblock %}

{% block section_header %}
    <h1> TODO: Registration info and tutorial</h1>
{% endblock %}

{% block content %}
    <div class="section__body-group">
        Some information here

        <a class="test-popup-link" href="{% static 'images/403.jpg' %}">
            <img src="{% static 'images/github-mark.svg' %}" alt="">
        </a>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'plugins/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/magnific_popup.js' %}"></script>
{% endblock %}