{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Partners
{% endblock %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="section__head">
                <h1>Our Partners</h1>
            </div>
            <div class="section__body">
                <div class="section__body-group">
                    <form action="" method="get" class="form-main form-main--filters">
                        <div class="form__wrap">
                            <div class="form__col">
                                {{ paginator_form }}
                            </div>
                            <div class="form__col">
                                {{ search_by_name_form }}
                            </div>
                            <div class="form__col">
                                {% include 'estate/partials/building_selector.html' %}
                            </div>
                            <div class="form__foot">

                                <button class="btn btn-primary">Apply</button>
                                <a class="btn btn-primary" href="{% url 'show all companies' %}">Clear</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="section__body-group">
                    <div class="row row-cols-3 row-cols-md-3 g-4">
                        {% for company in object_list %}

                            <div class="col">
                                <div class="card card--box">
                                    {% if company.file %}
                                        <img src="{{ company.file.url }}" class="card-img-top" alt="...">
                                    {% else %}
                                        <img src="{% static 'images/default_company_logo.jpg' %}"
                                             class="card-img-top"
                                             alt="No picture">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ company.name }}</h5>
                                        {% if company.businessfiled %}
                                            <p class="card-text">{{ company.business_field }} </p>
                                        {% endif %}

                                        <a href="{% url 'company details' company.pk %}">See Details</a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}

                            <h1>No Partners to show</h1>


                        {% endfor %}
                    </div>
                </div>

                {% if is_paginated %}
                    {% include 'partials/pagination.html' %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}