{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Partners
{% endblock %}
{% block content %}
    <h1>Our Partners</h1>
    <form action="">
        <div class="container">
            {{ paginator_form }}
        </div>
        <div class="container">
            {{ search_by_name_form }}
        </div>
        <div class="container">
            {% include 'estate/partials/building_selector.html' %}
        </div>

        <button class="btn btn-info">Apply</button>
        <a class="btn btn-info" href="{% url 'show all companies' %}">Clear</a>
    </form>
    <div class="container">
        <div class="row row-cols-3 row-cols-md-3 g-4">
            {% for company in object_list %}
                <div class="col">
                    <div class="card">
                        {% if company.company_logo %}
                            <img src="{{ company.logo.url }}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="{% static 'images/default_company_logo.jpg' %}" class="card-img-top"
                                 alt="No picture">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ company.name }}</h5>
                            {% if company.businessfiled %}
                                <p class="card-text">{{ company.business_field }} </p>
                            {% endif %}

                            <a href="{% url 'company details' company.pk %}">See Details</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <tr>
                    <td colspan="8" align="center">No Partners to show</td>
                </tr>
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
        {% include 'partials/pagination.html' %}
    {% endif %}
{% endblock %}