{% load static %}
{% load custom_tags %}
{% profile_group_info request.user as viewer_group %}
{% user_authentication request.user as user_is_authenticated %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/load.css' %}">
    <link rel="icon" href="{% static 'images/navbar_logo.png' %}">
    <title>
        {% block page_title %}
            Maintenance Management
        {% endblock %}
    </title>
</head>
<body>
<div class="wrapper">
    <div class="wrapper__inner">
        <header class="header fixed-top bg-light">
            <div class="container">
                {% include 'partials/navbar/navigation-bar.html' %}
            </div>
        </header>

        <main class="main">
            <div class="main__background">
                <img src="{% static 'images/main_bg.jpg' %}" alt="">
            </div>

            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        {% include 'partials/footer.html' %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>