{% extends 'base.html' %}

{% block page_title %}
    Assignments
{% endblock %}

{% block section_header %}
    <h1>Edit Assignment</h1>
{% endblock %}

{% block content %}
    <div class="form-main form-main--login">
        <form method="post">
            <div class="form__fields">
                {% csrf_token %}
                <h2> Choose an engineer or a contractor from the list:</h2>
                {{ form.user }}
            </div>
            <div class="form__foot">
                <button class="btn btn-success">Save</button>
                <a href="{% url 'assignment details' object.pk %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}