{% extends 'base.html' %}
{% block page_title %}
    Assignments
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if viewer_group.name == "Supervisor" %}
            <p>
                {{ form.user.label }}
                {{ form.user }}
            </p>
        {% endif %}
        <p>
            {{ form.meeting_required.label }}
            {{ form.meeting_required }}
        </p>

        <p>
            {{ form.expense_estimate_available.label }}
            {{ form.expense_estimate_available }}
        </p>
        <button class="btn btn-warning">Edit</button>
    </form>
{% endblock %}