{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Assignments
{% endblock %}
{% block content %}
    <h1>Assignments</h1>
    <div class="p-5 bg-body-tertiary border rounded-3">
        <div class="container">
            <a class="btn btn-success" href="{% url 'show all assignments' %}">Clear Filters</a>

        </div>
        <div class="container">
            <form action="" method="get">
                <label for="paginator">
                    Choose how many items to see on list
                    <input type="number" name="paginator" placeholder="{{ paginator }}">
                </label>
                <button>Submit</button>
            </form>
        </div>
        <form action="" method="get">
            <div class="container">
                <label for="building">
                    Filter by building
                    <select class="form-select" name="building">
                        <option selected value="">Select building</option>
                        {% for building in buildings %}
                            <option value="{{ building.pk }}"> {{ building }}</option>
                        {% endfor %}
                    </select>
                </label>

                <label for="report_type">
                    or report type

                    <select class="form-select" name="report_type">
                        <option selected value="">Report Type</option>
                        {% for report in reports %}
                            <option value="{{ report.report_type }}"> {{ report.report_type }}</option>
                        {% endfor %}
                    </select>

                </label>
            </div>

            <div class="container">
                Extra available fields:
                <p>{{ form }}</p>
            </div>
            <div class="container">
                <button class="btn btn-info">Search</button>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr class="table table-light">
                <th>Service Report</th>
                <th>Assigned to</th>
                <th>Assigned by</th>
                <th>Status</th>
                <th>Report Type</th>
                <th>Meeting</th>
                <th>Offer</th>
                <th>Last Updated</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.service_report | truncatechars:25 }}</td>
                    {% if request.user == object.user %}
                        <td>You</td>{% else %}
                        <td>{{ object.user.appuserprofile.full_name }}</td>
                    {% endif %}
                    {% if request.user == object.assigned_by %}
                        <td>You</td>
                    {% else %}
                        <td>{{ object.assigned_by.appuserprofile.full_name }}</td>
                    {% endif %}
                    <td>{{ object.assignment_status }}</td>
                    <td>{{ object.service_report.report_type }}</td>
                    {% if object.meeting_required %}
                        <td><img src="{% static '/images/icon-yes.svg' %}" alt="True"></td>
                    {% else %}
                        <td><img src="{% static '/images/icon-no.svg' %}" alt="False"></td>
                    {% endif %}
                    {% if object.expense_estimate_available %}
                        <td><img src="{% static '/images/icon-yes.svg' %}" alt="True"></td>
                    {% else %}
                        <td><img src="{% static '/images/icon-no.svg' %}" alt="False"></td>
                    {% endif %}
                    <td>{{ object.last_updated }}</td>
                    <td><a class="btn btn-outline-primary" href="{% url 'assignment details' object.pk %}">See
                        Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&paginator={{ paginator }}&building={{ building }}&report_type={{ report }}&assignment_status={{ assignment_status }}&meeting_required={{ meeting_required }}&expense_estimate_available={{ expense_estimate_available }}">previous</a>
    {% else %}
        previous
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&paginator={{ paginator }}&building={{ building }}&report_type={{ report }}&assignment_status={{ assignment_status }}&meeting_required={{ meeting_required }}&expense_estimate_available={{ expense_estimate_available }}">
            next
        </a>
    {% else %}
        next
    {% endif %}
    <div>{{ page_obj }}</div>

{% endblock %}