{% extends 'base.html' %}

{% block page_title %}
    Delete Meeting
{% endblock %}

{% block section_header %}
    <h1>Delete Meeting</h1>
{% endblock %}

{% block content %}
    <div class="section__body-group">
        <div class="form-main form-main--login">
            <form action="" method="post">
                <div class="form__fields">
                    <h2>Are you sure you want to delete your scheduled meeting?</h2>
                    <p> {{ object.meeting_date }}</p>
                    {% csrf_token %}
                </div>
                <div class="form__foot">
                    <button class="btn btn-danger">Confirm</button>
                    <a href="{% url 'show all meetings' %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}