{% extends 'base.html' %}
{% block page_title %}
    Meetings
{% endblock %}
{% block content %}
    <div>
        <h5>For assignment: {{ object.assignment }}</h5>
        <a class="btn btn-outline-primary" href="{% url 'assignment details' object.assignment.pk %}">See Details</a>
    </div>
    <div class="p-5 bg-body-tertiary border rounded-3">
        <h5>Description:</h5>
        {{ object.description }}
    </div>
    <p>Meet at: {{ object.meeting_date }}</p>
    <p>Created by : {{ object.created_by.appuserprofile.full_name }}</p>
    {% if request.user == object.created_by %}
        <div>
            <a class="btn btn-warning" href="{% url 'edit meeting' object.pk %}">Edit Meeting</a>
            <a class="btn btn-danger" href="{% url 'delete meeting' object.pk %}">Delete Meeting</a>
        </div>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'show all meetings' %}">Back to Meetings</a>

{% endblock %}